
/* Main-elements */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
} 
h1{
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 3%;
}
h2,h3{
    font-size: 2rem;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 7% 15% ;
}
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}
/* navbar */

.navbar{
    padding: 0 0 4rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2rem;
    font-weight: lighter;
    font-size: 2.4rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
} 

/* title */

#title{
    text-align: left;
    
}
#title .container-fluid{
    padding: 3% 15% 7% ;
}
.downloadbtn{
    margin: 5% 3% 5% 0;
}
.iphone{
    width: 55%;
    padding-top: 5%;
    transform: rotate(25deg);
    position: absolute;
    right: 26%;
}

/* features */

#features{
    position: relative;
}
.feature-box{
    padding: 4.5%;
}
.feature-bttn{
    color: #ef8172;
    padding-bottom: 1rem;
}
.feature-bttn:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    line-height: 1.5;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    padding-top: 1rem;
    width: 20%;
    border-radius: 100%;
    
}
.client-name{
    padding-top: 1rem;
    
}

/* press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px
}

/* pricing */

#pricing{
    padding: 100px;
}
.sign-up-bttn{
    width: 80%;
}
.pricing-column{
    padding: 3% 2%;
}

/* cta */

#cta{
    padding: 5% 9% ;
}
.cta-heading{
    font-weight: bolder;
    font-size: 3rem;
    line-height: 1.5;
}

/* footer */

#footer{
    background-color: #fff;
    padding: 80px 0 0;
    color: bisque;
}
.footer-bttn{
    color: #ff4c68;
    margin: 20px;
}
.footer-bttn:hover{
    color: #ef8172;
}
.arrow-up{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

/* media query */

@media (max-width:1050px){
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        /* transform: rotate(0); */
    }
    .press-logo{
        width: 30%;
    }
    .testimonial-image{
        width: 30%;
    }
}
